.forgot-password {
    padding: 40px 0;
    background: linear-gradient(to right, #786853, #D9EBEB);
    min-width: 1600px;
}

.forgot-password__wrapper {
    margin: 0 auto;
    display: flex;
    width: 1440px;
    min-height: 1024px;
    background-color: white;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}

.forgot-password__flex {
    display: flex;
    justify-content: space-between;
}

.forgot-password__logo::before {
    content: '';
    background-image: url(/img/auth/logo.png);
    position: absolute;
    top: 0;
    left: 100px;
    height: 85.16px;
    width: 245.62px;
}

.forgot-password__img {
    transform: scaleX(-1);
}

.forgot-password__title {
    color: #79655E;
    font-family: Abhaya Libre;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 16px 0;
}

.forgot-password__text {
    color: #79655E;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.forgot-password__input-container {
    position: relative;
    margin: 20px 0;
}

.forgot-password__label {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 5px;
    z-index: 1;
    color: var(--Blackish-Green, #121);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.forgot-password__input {
    border: 2px solid #ccc;
    padding: 17px 16px;
    width: 100%;
    box-sizing: border-box;
}

.forgot-password__button {
    margin: 43px 0 16px;
    display: block;
    border: none;
    color: #453834;
    width: 100%;
    height: 48px;
    background: #C09B5A;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.7s;
}

.forgot-password__button:hover {
    color: #ffff;
    background: #79655E;
}

.forgot-password__button:active {
    transform: translateY(5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
