.register {
    padding: 40px 0;
    background: linear-gradient(to right, #786853, #D9EBEB);
}

.register__wrapper {
    margin: 0 auto;
    display: flex;
    width: 1440px;
    min-height: 1024px;
    background-color: white;
    border-radius: 25px;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}

.register__logo::before {
    content: '';
    background-image: url(/img/auth/logo.png);
    position: absolute;
    top: 0;
    right: 100px;
    height: 85.16px;
    width: 245.62px;
}