.verify-email {
    display: flex;
    justify-content: center;
    position: relative;
    background: linear-gradient(to right, #786853, #D9EBEB);
}

.verify-email__logo::before {
    content: '';
    background-image: url(/img/auth/logo.png);
    position: absolute;
    top: 0;
    left: 100px;
    height: 85.16px;
    width: 245.62px;
}

.verify-email__form {
    background-color: white;
    margin: 40px 0;
    width: 1350px;
    min-height: 739px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    position: relative;
}

.verify-email__link {
    color: #453834;
    text-align: left;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
}

.verify-email__link-arrow {
    padding: 0 11px 0 8px;
    font-size: 20px;
}

.verify-email__title {
    color: #79655E;
    font-family: Abhaya Libre;
    font-size: 40px;
    font-weight: 400;
}

.verify-email__text {
    color: #453834;
    text-align: center;
    font-family: Forum;
    font-size: 16px;
    margin: 47px 0 16px 0           ;
}

.verify-email__button {
    margin:  0 auto;
    display: block;
    border: none;
    color: #453834;
    width: 230px;
    height: 48px;
    border-radius: 4px;
    background: #C09B5A;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.verify-email__button:active {
    transform: translateY(5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.verify-email__img {}