.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(/img/section1/section1-bg.png) center no-repeat;
}

.section-1-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1275px;
    max-width: 1275px;
    min-height: 120px;
    max-height: 120px;
}

.section-1-header__logo {
    min-width: 262px;
    max-width: 262px;
    min-height: 120px;
    max-height: 120px;
}

.section-1-header__logo-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 262px;
    max-width: 262px;
    min-height: 120px;
    max-height: 120px;
    border-radius: 0 0 50px 50px;
    background-color: #E2EEFB;
}

.section-1-header__logo-upperText {
    font-family: 'Forum', cursive;
    font-size: 40px;
    color: #79655E;
    line-height: 98.5%;
    text-align: center;
}

.section-1-header__logo-lowerText {
    font-family: 'Forum', cursive;
    font-size: 15px;
    color: #79655E;
    line-height: 98.5%;
    text-align: center;
}

.section-1-header__menu {
    min-width: 675px;
    max-width: 675px;
    min-height: 42px;
    max-height: 42px;
}

.section-1-header__menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 675px;
    max-width: 675px;
    min-height: 42px;
    max-height: 42px;
}


.section-1-header__menu ul li {
    display: inline;
}

.section-1-header__menu ul li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.section-1-header__menu ul li a:hover {
    text-decoration: underline;
}

.section-1-welcomeText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 1070px;
    max-width: 1070px;
    min-height: 290px;
    max-height: 290px;
}

.section-1-welcomeText__welcome {
    height: 55px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #fff;
}

.section-1-welcomeText__name-hotel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1-welcomeText__name-hotel-top {
    height: 142px;
    font-family: 'Montserrat', sans-serif;
    font-size: 128px;
    font-weight: 500;
    color: #fff;
}

.section-1-welcomeText__name-hotel-bottom {
    height: 61px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 300;
    color: #fff;
}

.section-1-search {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1275px;
    max-width: 1275px;
    min-height: 150px;
    max-height: 150px;
}