h1 {
    font-size: 40px;
    font-weight: 600;
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
    transition: 1s;
    text-align: center;
}

a:hover {
    color: black;
}

a:visited {
    color: #e2f7f6;
    /* Цвет посещенной ссылки */
}

ul {
    list-style-type: none;
}

.content-contacts {
    margin: 0 auto;
    background: linear-gradient(to right, #786853, #D9EBEB);
    min-height: 2200px;
    min-width: 1600px;
    background-size: 100% 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.section-contact {
    position: relative;
    display: flex;
    width: 727px;
    left: 55px;
}

.section-contact_heading {
    color: #fff;
    font-family: 'Forum', sans-serif;

}

.section-contact_booking-dep {
    position: relative;
    height: 230px;
    width: 680px;
    text-align: left;
    top: 75px;
}

.section-contact_messenger-list {
    position: relative;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
    left: 100px;
    height: 65px;
    width: 398px;
    vertical-align: middle;
}

.a-number {
    display: inline-block;
    height: 60px;
    vertical-align: sub;
}

.icons-img {
    height: 65px;
    width: 65px;
    float: left;

}

.section-contact_connection {
    position: relative;
    top: 120px;
    height: 230px;
    width: 680px;
}

.connection_list {
    position: relative;
    height: 145px;
    width: 533px;
    left: 100px;
}

.connection-_messenger-list {
    font-size: 24px;
    font-weight: 400;
    padding-top: 25px;
}

.section-contact_img {
    position: relative;
    height: 577px;
    width: 865px;
    top: 75px;
    float: right;
}

.img_reception {
    height: 577px;
    width: 865px;
}

.section-two {
    position: relative;
    display: flex;
    height: 1220px;
    padding-left: 55px;
}

.section-two_forms {
    height: 1130px;
    width: 710px;
}

.section-two_info {
    display: grid;
    position: relative;
    left: -30px;
}

.section-two_heading {
    height: 50px;
    width: 630px;
    padding-top: 10px;
    padding-left: 20px;
    color: #79655e;
}

.forms {
    display: grid;
    height: 966px;
    width: 626px;
    position: relative;
    top: 43px;
}

.forms-title {
    display: flex;
    height: 34px;
    width: 166px;
    font-size: 20px;
    font-family: 'Forum', sans-serif;
    color: #79655e;
    padding-left: 30px;
}

.forms-title:focus {
    outline: none;
}

option:focus {
    outline: none;
}

.section-two_img-container {
    position: relative;
    height: 522px;
    width: 865px;
    float: right;
    top: 50px;
}

.section-two_img {
    height: 522px;
    width: 865px;
}

.info {
    height: 188px;
    width: 803px;
    position: absolute;
    top: 595px;

}

input {
    font-family: 'Forum', sans-serif;
    font-size: 18px;
    color: black;
    padding-left: 15px;
    font-size: 18px;
}

input:focus {
    outline: none;
}

::placeholder {
    position: absolute;
    color: #ffffff;
    font-size: 18px;

}

textarea {
    font-family: 'Forum', sans-serif;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    font-size: 18px;
}


textarea:focus {
    font-family: 'Forum', sans-serif;
    outline: none;
    font-size: 18px;
}

.section-two_social {
    position: absolute;
    top: 830px;
}

.forms-input {
    font-family: 'Forum', sans-serif;
    border: 1px solid #79655e;
    height: 64px;
    font-size: 20px;
}

.input_name {
    width: 574px;
}

.input_phone {
    width: 369px;
}

.forms-categories {
    display: flex;
    flex-direction: row;
}

.title_hotel {
    padding-bottom: 15px;
}

.forms-input_hotel {
    display: flex;
    justify-content: space-between;
    border: 1px solid #79655e;
    width: 316px;
}

select {
    cursor: pointer;
}

select:focus {
    outline: none;
}

.forms-feedback {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 15px;
    left: 25px;
}

.input-feedback {
    border: 1px solid #79655e;
    color: #79655e;
    text-align: center;
}

.text {
    color: #79655e;
}

.info-groups {
    position: relative;
    height: 128px;
    width: 675px;
    left: 128px;
}

.info_list {
    font-family: 'Forum', sans-serif;
    height: 32px;
    width: 675px;
    font-size: 24px;
    font-weight: 400;
    padding-top: 16px;
}

.section-two_social-networks {
    display: flex;
    position: relative;
    top: 32px;
    height: 65px;
    width: 534px;
}

.social-networks_list {
    margin-right: 50px;
}

.social-networks_list:hover {
    height: 86px;
    width: 80px;
}

.title-question {
    width: 370px;
}

.text-question {
    position: relative;
    text-align: left;
    height: 132px;
    width: 566px;
    border: 1px solid #79655e;
    top: -34px;
    font-size: 20px;
}

.title-question_approval {
    display: flex;
    position: relative;
    top: -45px;
}

.approval {
    position: relative;
    left: 30px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.title-question_heading {
    position: relative;
    width: 453px;
    left: 30px;
    align-content: center;
    cursor: pointer;
}

.button {
    position: relative;
    height: 61px;
    width: 363px;
    text-align: center;
    color: #463820;
    font-size: 24px;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: 0.7s;
}

.button:hover {
    color: #ffffff;
    background-color: rgb(192, 155, 90);
}

.twitter,
.vk,
.facebook,
.instagram,
.tiktok {
    filter: brightness(0) invert(1);
}

.twitter:hover,
.vk:hover,
.facebook:hover,
.instagram:hover,
.tiktok:hover {
    filter: none;
}

.vk:hover,
.facebook:hover,
.tiktok:hover {
    background-color: #FFFFFF;
    border-radius: 15px;
}

.a-social {
    height: 65px;
    width: 65px;
}

.section-contact_bg {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 650px;
    height: 1074px;
    margin-top: 50px;
    background-color: #eeeaea;
}

.section-contact_head {
    width: 650px;
    height: 50px;
    background: linear-gradient(90deg, rgba(217, 235, 235, 1) 0%, rgba(190, 198, 192, 1) 100%);
}
