.room_main_container {
    background: linear-gradient(to right, #786853, #D9EBEB);
    background-size: 100% 100%;
    min-height: 2200px;
    min-width: 1600px;
}

.room_wrapper {
    width: 1500px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 50px;
}

.room_cart {
    position: relative;
    Width: 1500px;
    Height: 900px;
    background-color: #DBDBDB;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.room_slider_wrapper {
    padding: 19px 25px;
    width: 780px;
}

.img-slider {
    width: 780px;
    height: 462px;
}

.img-slider-nav {
    width: 780px;
    height: 130px;
    position: relative;
    padding-left: 20px;
    margin-top: 16px;
}

.slick-arrow {
    position: absolute;
    top: 35%;
    z-index: 20;
    font-size: 0;
    width: 20px;
    height: 25px;
    border: 0;
}

.slick-arrow.slick-prev {
    left: -3px;
    background: no-repeat 100% url("left_icon.png");
}

.slick-arrow.slick-next {
    right: 3px;
    background: no-repeat 100% url("right_icon.png");
}

.img {
    width: 775px;
    height: 460px;
    object-fit: cover;
    border: solid black 1px;
}

.nav-img {
    width: 223px;
    height: 124px;
}

.room-cart-container {
    display: flex;
    border-bottom: solid #79655E 1px;
}

.text-wrapper {
    width: 614px;
    align-content: center;
    padding-left: 16px;
    padding-top: 50px;
    font-family: 'Forum', serif;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 98.5%;
    text-align: center;
    color: #79655E;
    padding-bottom: 50px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 127.5%;
    text-align: center;
    color: #79655E;
}

.description-small {

    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 98.5%;
    text-align: center;
    color: #CE6845;
    transform: matrix(1, 0, -0.01, 1, 0, 0);
    padding-top: 25px;
}

.text-icon-wrapper {
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: space-evenly;
}

.icons_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icon {
    width: 60px;
    height: 60px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}

.room-cart-container-lower {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 25px 0 25px;
    font-family: 'Forum', sans-serif;
}

.right-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 123px;
}

.tariff-title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 98.5%;
    color: #79655E;
}

.tariff {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 98.5%;
    color: #CE6845;
}

.tariff-description {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 98.5%;
    color: #79655E;
}

.right-text {
    text-align: right;
}

.button {
    width: 500px;
    height: 50px;
    background: rgba(192, 155, 90, 0.6);
    border: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 123px;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 98.5%;
    color: #79655E;
    transition: 0.7s;
}

.button:hover {
    color: #DBDBDB;
    background: #79655E;
}

.room-cart__modal {
    position: absolute;
    display: none;
    justify-content: center;
    width: 1500px;
    height: 765px;
    padding-top: 135px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.modal-cart {
    width: 950px;
    height: 622px;
    padding-top: 20px;
    background-color: #fff;
}

/* Стили календаря */

.daterangepicker:before {
    display: none !important;
}

.daterangepicker:after {
    display: none !important;
}

.daterangepicker {
    width: 600px;
    height: 400px;
    margin-top: 50px !important;
    margin-left: 255px !important;
    box-shadow: 0px 20px 30px 0px rgba(34, 60, 80, 0.2);
}

.left {
    min-width: 580px !important;
    height: 160px !important;
}

.right {
    min-width: 580px !important;
    height: 160px !important;
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
    border-radius: 0px;
}