.wrapper {
    min-height: 1192px;
    background: linear-gradient(to right, #786853,  #D9EBEB);
    position: relative;
    display: flex;
    justify-content: center;
}

.left-wrapper {
    position: relative;
    height: 990px;
    width: 660px;
}

.content {
    position: relative;
    top: 129px;
    width: 612px;
}

.text {
    color: #333333;
}

h1 {
    height: 72px;
    width: 450px;
    font-family: 'Forum', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #333333;
}

h2 {
    font-family: 'Forum', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

h3 {
    font-family: 'Forum', sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}

p {
    font-family: 'Forum', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 35px;
}

.phone {
    position: relative;
    display: flex;
}

.text-phone {
    padding-left: 10px;
}

.right-wrapper {
    position: relative;
    width: 785px;
}

.img {
    position: relative;
    top: 205px;
    width: 785px;
    height: 783px;
}