.bg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 100vw;
    height: 3280px;
    background: linear-gradient(90deg, rgba(120,104,83,1) 0%, rgba(217,235,235,1) 100%);
}

.container {
    width: 1600px;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 404px;
    background: url("/img/rent/parking-bg.png") center no-repeat;
}

.section-1__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 754px;
    height: 204px;
    font-family: 'Forum', sans-serif;
    font-size: 56px;
    font-weight: 300;
    color: #333333;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(217,217,217,0) 100%);
}

.section-2 {
    display: flex;
    justify-content: space-between;
}

.section-2__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 663px;
    height: 507px;
    font-family: 'Forum', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #453834;
}

.section-2__description-item {
    margin-bottom: 20px;

}

.section-2__image {
    width: 783px;
    height: 507px;
}

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 404px;
    background: url("/img/rent/rent-bg.png") center no-repeat;
}

.section-3__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 754px;
    height: 204px;
    font-family: 'Forum', sans-serif;
    font-size: 56px;
    font-weight: 300;
    color: #333333;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(217,217,217,0) 100%);
}

.section-4 {
    display: flex;
    justify-content: space-between;
}

.section-4__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 663px;
    height: 507px;
    font-family: 'Forum', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #453834;
}

.section-4__description-item {
    margin-bottom: 20px;

}

.section-4__image {
    width: 783px;
    height: 507px;
}

.section-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 404px;
    background: url("/img/rent/boat-bg.png") center no-repeat;
}

.section-5__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 754px;
    height: 204px;
    font-family: 'Forum', sans-serif;
    font-size: 56px;
    font-weight: 300;
    color: #333333;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(217,217,217,0) 100%);
}

.section-6 {
    display: flex;
    justify-content: space-between;
}

.section-6__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 663px;
    height: 507px;
    font-family: 'Forum', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #453834;
}

.section-6__description-item {
    margin-bottom: 20px;

}

.section-6__image {
    width: 783px;
    height: 507px;
}
