.wrapper {
    max-height: 1718px;
    background: linear-gradient(to right, #786853, #D9EBEB);
    position: relative;
    display: flex;
    justify-content: center;
}

.section-restaurant {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 61px;
    margin-bottom: 90px;
    max-width: 1600px;
}

.section-restaurant-one {
    display: flex;
    margin-bottom: 61px;
}

.section-restaurant-two {
    display: flex;
    margin-bottom: 61px;
}

.section-restaurant-three {
    display: flex;
}

.restaurant-info {
    max-width: 751px;
    max-height: 422px;
    margin-right: 30px;
}

.restaurant-heading {
    font-size: 38px;
    font-family: 'Forum';
    margin-bottom: 30px;
    color: #333333;
}

.restaurant-text {
    font-size: 28px;
    font-family: 'Forum', cursive;
    color: #333333;
    margin-top: 30px;
}

.restaurant-img {
    max-width: 734px;
    max-height: 422;
}

.restaurant-text-clock {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 28px;
    font-family: 'Forum', cursive;
    color: #333333;

}

.restaurant-text-clock-item {
    font-family: 'Forum', cursive;
    font-size: 28px;
    color: #333333;
}