.roomsSearch-menu__input {
    border: none;
    outline: none;
    cursor: pointer;
}

.roomsSearch-menu__guest input {
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.roomsSearch-menu__type select {
    border: none;
    outline: none;
    cursor: pointer;
}

.roomsSearch-menu__label {
    cursor: pointer;
}

.roomsSearch-menu__btn {
    width: 124px;
    height: 36px;
    border: none;
    background-color: #79655E;
    font-family: 'Forum', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.roomsSearch-menu__btn:hover {
    opacity: .6;
}

.roomsSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1110px;
    max-width: 1110px;
    min-height: 136px;
    max-height: 136px;
}

.roomsSearch-head {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 330px;
    max-width: 330px;
    min-height: 55px;
    max-height: 55px;
    font-family: 'Forum', sans-serif;
    font-size: 24px;
    color: #79655E;
    text-align: center;
    background-color: #f9f9f9;
}

.roomsSearch-menu,
.roomsSearch-menu form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    min-height: 81px;
    max-height: 81px;
    background-color: #fff;
    box-shadow: 0px 20px 50px 0px rgba(34, 60, 80, 0.2);
}

.roomsSearch-menu__date,
.roomsSearch-menu__guest,
.roomsSearch-menu__type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Forum', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #79655E;
    text-align: center;
    background-color: #fff;
}

.roomsSearch-menu__date-head img,
.roomsSearch-menu__guest-head img,
.roomsSearch-menu__type-head img {
    margin-right: 5px;
}

.in-range {
    background-color: #e3dcd9 !important;
}

.active,
.start-date,
.end-date {
    background-color: #79655E !important;
}

.textDescription {
    font-family: 'Forum', sans-serif;
    color: #79655E;
}

.item-description__rightSide-upperText {
    font-weight: 600;
}