* {
    margin: 0;
    padding: 0;
}

.searchResult-bg {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background: rgb(120, 104, 83);
    background: linear-gradient(90deg, rgba(120, 104, 83, 1) 0%, rgba(217, 235, 235, 1) 100%);
}

.componentRoomsSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.searchResult {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 60px;

}

.searchResults {
    max-width: 1600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    gap: 55px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.searchResult-head {
    padding-top: 40px;
    min-height: 100px;
    max-height: 100px;
    color: #fff;
    font-family: 'Forum', cursive;
    font-size: 62px;
}

.searchResult-content__item {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    min-height: 325px;
    margin: 5px 5px 5px 5px;
    padding: 16px;
    background-color: #DBDBDB;
    justify-content: space-between;
}

.searchResult-content__item .item-description {
    display: flex;
    justify-content: space-between;

}

.item-description__leftSide {
    min-width: 256px;
    max-width: 256px;
    min-height: 186px;
    max-height: 186px;
}

.item-description__rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 190px;
    max-width: 190px;

}

.item-description__rightSide-upperText {
    font-family: 'Forum', cursive;
    font-size: 24px;
    color: #79655E;
    text-align: left;
}

.item-description__rightSide-centralText {
    font-family: 'Forum', cursive;
    font-size: 18px;
    color: #79655E;
    text-align: left;
    margin-bottom: 8px;
}

.item-description__rightSide-lowerText {
    font-family: 'Forum', cursive;
    font-size: 20px;
    color: #CE6845;
    text-align: left;
    margin-bottom: 8px;
}

.searchResult-content__item .item-btn {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 8px;
    width: 380px;

}

.searchResult-content__item .item-btn button {
    width: 144px;
    height: 25px;
    border: none;
    border-radius: 50px;
    background-color: #C09B5A;
}

.searchResult-content__item .item-btn a {
    text-decoration: none;
    font-family: 'Fraunces', serif;
    font-size: 16px;
    font-weight: 700;
    color: #79655E;
}

.item-description__rightSide-servise {
    display: flex;
    flex-wrap: wrap;
    margin: 13px 0;
    justify-content: flex-start;
}

.icon {
    display: inline-block;
    height: 30px;
    vertical-align: sub;
}

ul {
    list-style-type: none;
}

.textDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    min-width: 190px;
    max-width: 190px;
    margin-top: 8px;
}

.item-description-img {
    display: block;
    width: 215px;
    height: 150px;
    margin-right: 10px;
}

.item-description__leftSide-block {
    display: block;
}

.item-description__leftSide-block-text {
    font-family: 'Forum', cursive;
    font-size: 18px;
    color: #79655E;
    text-align: left;
    margin-bottom: 8px;
}

.item-description__leftSide-block-text-heading {
    font-family: 'Forum', cursive;
    font-size: 18px;
    color: #CE6845;
    text-align: left;
    margin-bottom: 8px;
    margin-top: 10px;
}