.section-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 970px;
    max-height: 970px;
    background: url(/img/homePage/section1/section1-bg.png);
    background-size: 100% 100%;
}

.section-1-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1275px;
    max-width: 1460px;
    min-height: 120px;
    max-height: 120px;
}

.section-1-header__logo {
    min-width: 262px;
    max-width: 262px;
    min-height: 120px;
    max-height: 120px;
}

.section-1-header__logo a {
    text-decoration: none;
}

.section-1-header__logo-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 262px;
    max-width: 262px;
    min-height: 120px;
    max-height: 120px;
    border-radius: 0 0 50px 50px;
    background-color: #E2EEFB;
}

.section-1-header__logo-upperText {
    font-family: 'Forum', cursive;
    font-size: 40px;
    color: #79655E;
    line-height: 98.5%;
    text-align: center;
}

.section-1-header__logo-lowerText {
    font-family: 'Forum', cursive;
    font-size: 15px;
    color: #79655E;
    line-height: 98.5%;
    text-align: center;
}

.section-1-header__menu {
    min-width: 675px;
    max-width: 675px;
    min-height: 42px;
    max-height: 42px;
}

.section-1-header__menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 675px;
    max-width: 675px;
    min-height: 42px;
    max-height: 42px;
}


.section-1-header__menu ul li {
    display: inline;
}

.section-1-header__menu ul li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.section-1-header__menu ul li a:hover {
    text-decoration: underline;
}

.section-1-social {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 33px;
    max-width: 33px;
    min-height: 970px;
    max-height: 970px;
    left: 10px;
}

.section-1-social__followUs {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.section-1-social__link {
    margin-top: 10px;
}

.section-1-welcomeText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 1070px;
    max-width: 1070px;
    min-height: 290px;
    max-height: 290px;
}

.section-1-welcomeText__welcome {
    height: 55px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #fff;
}

.section-1-welcomeText__name-hotel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1-welcomeText__name-hotel-top {
    height: 142px;
    font-family: 'Montserrat', sans-serif;
    font-size: 128px;
    font-weight: 500;
    color: #fff;
}

.section-1-welcomeText__name-hotel-bottom {
    height: 61px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 300;
    color: #fff;
}

.section-1-search {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1070px;
    max-width: 1070px;
    min-height: 150px;
    max-height: 150px;
}

.section-1-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1070px;
    max-width: 1070px;
    min-height: 80px;
    max-height: 80px;
    margin-bottom: 25px;
}

.section-1-services__numbers, .section-1-services__restaurant, .section-1-services__spa, .section-1-services__jacuzzi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    max-height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;
}

.section-1-services__ico {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    max-width: 100vw;
    background-color: #000;
}

.slider-cart {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 560px;
    background-color: #DBDBDB;
    cursor: pointer;
}

.cart-img {
    min-width: 390px;
    max-width: 390px;
    min-height: 258px;
    max-height: 258px;
}

.slider-cart-description {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 390px;
    max-width: 390px;
    min-height: 302px;
    max-height: 302px;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 257px;
    max-width: 257px;
    min-height: 223px;
    max-height: 223px;
}

.description-level {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 34px;
    max-height: 34px;

    font-family: 'Forum', cursive;
    font-size: 24px;
    color: #79655E;
    line-height: 98.5%;
    text-align: center;
}

.description-upperText {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    max-height: 30px;

    font-family: 'Forum', cursive;
    font-size: 10px;
    color: #79655E;
    line-height: 98.5%;
    text-align: center;
}

.description-lowerText {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 83px;
    max-height: 83px;

    font-family: 'Forum', cursive;
    font-size: 16px;
    color: #79655E;
    line-height: 98.5%;
    text-align: center;
}

.description-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;
    max-height: 45px;
}

.description-ico {
    min-width: 43px;
    max-width: 43px;
    min-height: 43px;
    max-height: 43px;
    margin: 0 5px 0 5px;
}

.services {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
    min-width: 1291px;
    max-width: 1291px;
    min-height: 117px;
    max-height: 117px;
}

.services-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 250px;
    max-width: 250px;
}

.item-ico {
    margin-right: 25px;
}

.item-description {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.service-carts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1378px;
    max-width: 1378px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.service-cart-1,
.service-cart-2,
.service-cart-3,
.service-cart-4 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    min-width: 297px;
    max-width: 297px;
    min-height: 410px;
    max-height: 410px;
    cursor: pointer;
}

.service-cart-1 {
    background-image: url("/img/homePage/section2/cart-1.png");
}

.service-cart-2 {
    background-image: url("/img/homePage/section2/cart-2.png");
}

.service-cart-3 {
    background-image: url("/img/homePage/section2/cart-3.png");
}

.service-cart-4 {
    background: url("/img/homePage/section2/cart-4.png") center no-repeat;
}

.service-cart-description {
    display: flex;
    justify-content: start;
    align-items: center;
    min-width: 252px;
    max-width: 252px;
    min-height: 98px;
    max-height: 98px;
    margin-bottom: 15px;

    font-family: 'Forum', cursive;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    line-height: 98.5%;
    text-align: left;

    background: linear-gradient(90deg, rgba(55, 82, 88, 1) 0%, rgba(44, 94, 105, 0) 100%);
}

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 540px;
    max-height: 540px;
    background: url(/img/homePage/section3/section3-bg.png);
    background-size: 100% 100%;
}

.section-3-carts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1278px;
    max-width: 1278px;
    min-height: 340px;
    max-height: 340px;
}

.section-3-carts__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 265px;
    max-width: 265px;
    min-height: 340px;
    max-height: 340px;
}

.section-3-carts__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 265px;
    max-width: 265px;
    min-height: 121px;
    max-height: 121px;
}

.section-3-carts__item-name {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 265px;
    max-width: 265px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.section-3-carts__item-description {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 265px;
    max-width: 265px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: left;
}

.section-3-carts__item-btn a {
    display: flex;
    align-items: center;
    min-width: 265px;
    max-width: 265px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-align: left;
}

.section-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 1723px;
    max-height: 1723px;
    background-color: black;
}

.section-4-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1520px;
    max-width: 1520px;
    min-height: 643px;
    max-height: 643px;
    margin-top: 220px;
}

.section-4-top__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 530px;
    max-width: 530px;
    min-height: 570px;
    max-height: 570px;
    color: #fff;
}

.section-4-top__description-upperTitle {
    min-width: 500px;
    max-width: 500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

.section-4-top__description-downTitle {
    min-width: 500px;
    max-width: 500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-align: left;
}

.section-4-top__description-upperText {
    min-width: 500px;
    max-width: 500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.section-4-top__description-downText {
    min-width: 500px;
    max-width: 500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.section-4-bottom {
    margin-bottom: 170px;
}

.section-4-subscription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 1110px;
    max-width: 1110px;
    min-height: 565px;
    max-height: 565px;
    background: url(/img/homePage/section4/subscription.png);
    background-size: 100% 100%;
}

.section-4-subscription__title {
    min-width: 710px;
    max-width: 710px;
    min-height: 212px;
    max-height: 212px;
    font-family: 'Forum', cursive;
    font-weight: 300;
    font-size: 60px;
    color: #fff;
}

.section-4-subscription__subscribeText {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
}

.section-4-subscription__form {
    display: flex;
    min-width: 710px;
    max-width: 710px;
    min-height: 100px;
    max-height: 100px;
}

.section-4-subscription__input {
    min-width: 380px;
    max-width: 380px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 50px 0 0 50px;
    backdrop-filter: blur(5px);
}

.section-4-subscription__input input {
    min-width: 380px;
    max-width: 380px;
    min-height: 50px;
    max-height: 50px;
    border: 1px solid #fff;
    border-radius: 50px 0 0 50px;
    outline: none;
    padding-left: 20px;
    background: none;
    z-index: 0;
}

.section-4-subscription__input input::placeholder {
    color: black;
}

.section-4-subscription__btn {
    min-width: 350px;
    max-width: 350px;
    min-height: 51px;
    max-height: 51px;
    margin-left: -20px;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background-color: #fff;
    font-family: 'Forum', cursive;
    font-weight: 300;
    font-size: 24px;
    color: #0C0B10;
    cursor: pointer;
    z-index: 1;
}

